body {
    font-family: 'Noto Sans TC', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans Tc', sans-serif;
}
.subheading {
    font-family: 'Noto Sans Tc', sans-serif;
}
.bg-primary{
	background-color: #85a4d9!important;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}
.text-primary{
	color: #85a4d9!important;
}
a {
	color: #85a4d9;
}
.button{
  text-align: left;
  color:#85a4d9;
}
.button:hover .hover{
  display:block;
}
.hover{
  display:none;
  background-color:#d9e1eb;
}
ul>li:hover {
	background-color: #deb43d;
}
.jumbotron ul {
   list-style-type: circle;
}
